* {
    font-family: 'Courier New', Courier, monospace;
    
    box-sizing: border-box;
}

header {
    position:sticky;
    z-index: 1;
    background-color: white;
    top:0;
    left: 0;
    width: 100vw;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw;
}

body {
    
    height:300vh;
    margin: none;
}

#Portfolio {
    position:absolute;
    top: 100vh;
}

.projectPreview {
    overflow: hidden;
    width: auto;
    height: 200px;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        object-fit: cover;
        height: 250px;
        transition: opacity 350ms;
    }
    img:hover {
        opacity:0.7;
    }
}

.labels {
    font-size: large;
    // transform: translate(170px, -50px);
    z-index: 2;
    // width: auto;
    background-color: white;
    border-radius: 5px;
    padding:5px;
    pointer-events: none;
    border: 1px solid black;
}

#linkContainer {
    padding: 15px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    width: 80%;
    gap: 3px;
}

@media (max-width: 1269px){
    body {
       
    }
    .projectPreview img {
        transform: translate(-20px, 0)
    }
    #linkContainer {
        width: 95%;
    }
}

@media (max-width: 980px){
    #linkContainer {
        grid-template-columns: auto;
    }
    .projectPreview img {
        height: 350px;
        // transform: translate(100px, 0)
    }
    .projectPreview img:hover {
        // height: 370px;
    }
}
