* {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.bold {
  font-weight: 1000;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 130px;
}

body {
  background-color: #e5e5e5;
}

header {
  position: sticky;
  z-index: 1;
  background-color: #e5e5e5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4vw 0 3vw;
  color: black;
}
header nav {
  margin: 35px;
}
header ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
header ul li a {
  text-decoration: none;
  padding: 10px;
}
header ul li a:hover {
  color: red;
}

#headerSpacer {
  width: 100vw;
  height: 15vh;
}

body {
  height: 200vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#Bio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  z-index: 0;
  top: 10px;
}

#bioContainer {
  margin: 0 auto;
  display: grid;
  width: 95vw;
  height: auto;
  gap: 10px;
  grid-template-columns: auto auto auto auto;
}

#education {
  grid-column: 1/2;
  background-color: #ffffff;
}

#certifications {
  grid-column: 2/5;
  background-color: #ffffff;
}

#coverLetter {
  grid-column: 1/5;
  background-color: #ffffff;
  text-align: center;
}

#contact {
  grid-column: 1/4;
  background-color: #ffffff;
}

#socials {
  grid-column: 4/5;
  background-color: #ffffff;
}

.subtext {
  font-size: 0.85rem;
}

#contactContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#contactContainer div {
  display: flex;
  flex-direction: column;
}

.bioCell {
  border: solid 2px #669bbc;
  border-radius: 5px;
  padding: 15px;
  height: auto;
}

#Bio > article {
  border: 1px solid black;
  width: 30vw;
}

#socialsIconContainer {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

#Portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#linkContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 80%;
  height: 90%;
}

.projectPreview {
  width: 75%;
  height: 200px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}
.projectPreview img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 35%;
  transition: opacity 350ms;
}
.projectPreview img:hover {
  opacity: 0.4;
}
.projectPreview div {
  border-radius: 5px;
  text-align: center;
}

.labels {
  font-size: large;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  pointer-events: none;
  border: 1px solid black;
}

footer {
  width: 100%;
  background-color: white;
  height: 150px;
  position: relative;
  bottom: -100px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}
footer a {
  position: relative;
  top: 20px;
}

#attributions {
  width: 350px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-size: small;
}

@media (max-width: 1269px) {
  .projectPreview img {
    transform: translate(-45px, 0);
  }
  #linkContainer {
    width: 95%;
  }
}
@media (max-width: 980px) {
  header {
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;
  }
  .header {
    margin: 0;
  }
}
@media (max-width: 520px) {
  #contactContainer {
    flex-direction: column;
    align-items: baseline;
  }
  footer {
    flex-direction: column;
    height: 200px;
    text-align: center;
    align-items: center;
  }
}/*# sourceMappingURL=index.css.map */